USE [master]
GO
/****** Object:  Database [AIMS]   ******/
CREATE DATABASE [AIMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AIMS', FILENAME = N'D:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\AIMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AIMS_log', FILENAME = N'D:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\AIMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AIMS]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 21/05/2025 10:44:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[media_id] [int] NOT NULL,
	[authors] [varchar](50) NOT NULL,
	[coverType] [varchar](50) NOT NULL,
	[publisher] [varchar](50) NOT NULL,
	[publicationDate] [date] NOT NULL,
	[pages] [int] NULL,
	[language] [varchar](50) NULL,
	[genre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CD_and_LP]    Script Date: 21/05/2025 10:44:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CD_and_LP](
	[media_id] [int] NOT NULL,
	[isCD] [bit] NOT NULL,
	[artists] [varchar](50) NOT NULL,
	[recordLabel] [varchar](50) NOT NULL,
	[trackList] [varchar](200) NOT NULL,
	[genre] [varchar](50) NOT NULL,
	[releaseDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryInfo]    Script Date: 21/05/2025 10:44:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryInfo](
	[delivery_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[province] [varchar](50) NOT NULL,
	[address] [varchar](200) NOT NULL,
	[message] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[delivery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVD]    Script Date: 21/05/2025 10:44:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVD](
	[media_id] [int] NOT NULL,
	[dvdType] [varchar](50) NOT NULL,
	[director] [varchar](50) NOT NULL,
	[runtime] [int] NOT NULL,
	[studio] [varchar](50) NOT NULL,
	[language] [varchar](50) NOT NULL,
	[subtitles] [varchar](50) NOT NULL,
	[releasedDate] [date] NULL,
	[genre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 21/05/2025 10:44:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[totalAmount] [int] NOT NULL,
	[transaction_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 21/05/2025 10:44:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[media_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[totalQuantity] [int] NOT NULL,
	[weight] [float] NOT NULL,
	[rushOrderSupported] [bit] NULL,
	[imageUrl] [varchar](200) NULL,
	[barcode] [varchar](50) NOT NULL,
	[description] [varchar](255) NOT NULL,
	[productDimension] [varchar](50) NULL,
	[importDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Media]    Script Date: 21/05/2025 10:44:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Media](
	[media_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[orderType] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[media_id] ASC,
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderInfo]    Script Date: 21/05/2025 10:44:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderInfo](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[shippingFees] [int] NOT NULL,
	[subtotal] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[delivery_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransaction]    Script Date: 21/05/2025 10:44:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransaction](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[paymentTime] [datetime] NOT NULL,
	[paymentAmount] [int] NOT NULL,
	[content] [varchar](500) NOT NULL,
	[bankTransactionId] [varchar](50) NOT NULL,
	[cardType] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RushOrderInfo]    Script Date: 21/05/2025 10:44:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RushOrderInfo](
	[rush_id] [int] IDENTITY(1,1) NOT NULL,
	[deliveryTime] [datetime] NOT NULL,
	[instruction] [varchar](200) NOT NULL,
	[order_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rush_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21/05/2025 10:44:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[isAdmin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [invoice_order_id_index]    Script Date: 21/05/2025 10:44:44 CH ******/
CREATE NONCLUSTERED INDEX [invoice_order_id_index] ON [dbo].[Invoice]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [invoice_transaction_id_index]    Script Date: 21/05/2025 10:44:44 CH ******/
CREATE NONCLUSTERED INDEX [invoice_transaction_id_index] ON [dbo].[Invoice]
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [delivery_id_index]    Script Date: 21/05/2025 10:44:44 CH ******/
CREATE NONCLUSTERED INDEX [delivery_id_index] ON [dbo].[OrderInfo]
(
	[delivery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [rush_order_id_index]    Script Date: 21/05/2025 10:44:44 CH ******/
CREATE NONCLUSTERED INDEX [rush_order_id_index] ON [dbo].[RushOrderInfo]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([media_id])
REFERENCES [dbo].[Media] ([media_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CD_and_LP]  WITH CHECK ADD FOREIGN KEY([media_id])
REFERENCES [dbo].[Media] ([media_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DVD]  WITH CHECK ADD FOREIGN KEY([media_id])
REFERENCES [dbo].[Media] ([media_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[OrderInfo] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([transaction_id])
REFERENCES [dbo].[PaymentTransaction] ([transaction_id])
GO
ALTER TABLE [dbo].[Order_Media]  WITH CHECK ADD FOREIGN KEY([media_id])
REFERENCES [dbo].[Media] ([media_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Media]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[OrderInfo] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD FOREIGN KEY([delivery_id])
REFERENCES [dbo].[DeliveryInfo] ([delivery_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RushOrderInfo]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[OrderInfo] ([order_id])
ON DELETE CASCADE
GO
USE [master]
GO
